{% extends "network/layout.html" %}

{% block body %}

<div class="row m-3">
    {%for post in posts%}
    <div class="col-12 m-3 border">
        <div class="row">
            <div class="col col-auto">
                <h2>
                    <a href="{% url 'profile' user_id=post.author.pk %}">
                        {{post.author}}
                    </a>
                </h2>
            </div>
            <div class="col">
                <p class=" mt-2 mb-0">
                    {{post.date_posted}}
                </p>
            </div>
            <div class="w100">

            </div>
            <div class="col-12">
                <p>{{post.content}}</p>
                {%if post.author == request.user %}
                <button class="btn btn-primary edit">Edit</button>
                {%endif%}
                <div class="like-wrapper row">
                    <div class="col col-auto">
                        <i class="fas fa-heart p-1 like" data-user="{{request.user.pk}}" data-post="{{post.pk}}"
                            data-liked='{{post.liked}}'></i>
                    </div>
                    <div class="col like-count" data-post="{{post.pk}}">
                        0
                    </div>




                </div>

                <button class="btn btn-primary comment">Add comment</button>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}