{% extends "network/layout.html" %}

{% block body %}

<div class="row m-3">
    {%for post in page_obj  %}
    <div class="col-12 m-3 border">
        <div class="row">
            <div class="col col-auto">
                <h2>
                    <a href="{% url 'profile' user_id=post.author.pk %}">
                        {{post.author}}
                    </a>
                </h2>
            </div>
            <div class="col">
                <p class=" mt-2 mb-0">
                    {{post.date_posted}}
                </p>
            </div>
            <div class="w100">

            </div>
            <div class="col-12">
                <p>{{post.content}}</p>
                {%if post.author == request.user %}
                <a href="{% url 'edit_post' post_id=post.pk %}"><button class="btn btn-primary edit">Edit</button></a>
                {%endif%}
                <div class="like-wrapper row">
                    <div class="col col-auto">
                        <i class="fas fa-heart p-1 like" {% if request.user.is_authenticated %}
                            data-user="{{request.user.pk}}" {% else %} data-user="{{post.author.pk}}" {% endif %}
                            data-post="{{post.pk}}" data-liked='{{post.liked}}'></i>
                    </div>
                    <div class="col like-count" data-post="{{post.pk}}">
                        0
                    </div>




                </div>

                
            </div>
        </div>
    </div>

    {% endfor %}

    <div class="col-12">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1">&laquo; First</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1"
                        aria-disabled="true">Previous</a>
                </li>
                {%else%}
                <li class="page-item disabled">
                    <a class="page-link" aria-disabled="true" href="#">&laquo; First</a>
                </li>
                <li class="page-item disabled">
                    <a class="page-link disabled" href="#" tabindex="-1"
                        aria-disabled="true">Previous</a>
                </li>

                {%endif%}

                {%for page in page_obj.paginator.page_range %}
                {% if page_obj.number == page %}
                <li class="page-item active"><a class="page-link" href="?page={{page}}">{{page}}</a></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="?page={{page}}">{{page}}</a></li>
                {%endif%}
                {%endfor%}

                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
                </li>
                {%else%}
                <li class="page-item disabled">
                    <a class="page-link" href="#">Next</a>
                </li>
                <li class="page-item disabled">
                    <a class="page-link" href="#">Last &raquo;</a>
                </li>
                {% endif %}

            </ul>
        </nav>
    </div>
</div>
{% endblock %}