{% extends "network/layout.html" %}

{% block body %}

<div class="row m-3">
    <div class="row">
        <div class="col col-auto">
            <h2>
                {{page_obj.0.author}}
            </h2>
            {% if page_obj.0.author == request.user %}
            <p>Your profile page</p>
            <button class="btn btn-primary follow-btn follow" style="display: none;" data-user="{{page_obj.0.author.pk}}"></button>
            {%else%}
            {%if request.user.is_authenticated %}
            <button class="btn btn-primary follow-btn follow" data-user="{{page_obj.0.author.pk}}"></button>
            {%else %}
            <button class="btn btn-primary follow-btn follow" disabled data-user="{{page_obj.0.author.pk}}">
            To follow sign in</button>
            {%endif%}
            {% endif %}
        </div>
        <div class="col">
            <p class="m-1" id="followers">Followers: {{followers}}</p>
            <p class="m-1" id="following">Following: {{following}}</p>
        </div>
    </div>

    {%for post in page_obj%}
    <div class="col-12 m-3 border">
        <div class="row">
            <div class="col col-auto">
                <h2>
                    {{post.author}}
                </h2>
            </div>
            <div class="col">
                <p class=" mt-2 mb-0">
                    {{post.date_posted}}
                </p>
            </div>
            <div class="w100">

            </div>
            <div class="col-12">
                <p>{{post.content}}</p>

                {%if post.author == request.user %}
                <button class="btn btn-primary edit">Edit</button>
                {%endif%}
                <div class="like-wrapper row">
                    <div class="col col-auto">
                        {%if request.user.is_authenticated %}
                        <i class="fas fa-heart p-1 like" data-user="{{request.user.pk}}" data-post="{{post.pk}}"
                            data-liked='{{post.liked}}'></i>
                        {%else%}
                        <i class="fas fa-heart p-1 like" disabled></i>
                        {%endif%}
                    </div>
                    <div class="col like-count" data-post="{{post.pk}}">
                        0
                    </div>



                </div>

                <button class="comment btn btn-primary">Comment</button>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="col-12">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1">&laquo; First</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1"
                        aria-disabled="true">Previous</a>
                </li>
                {%else%}
                <li class="page-item disabled">
                    <a class="page-link" aria-disabled="true" href="#">&laquo; First</a>
                </li>
                <li class="page-item disabled">
                    <a class="page-link disabled" href="#" tabindex="-1"
                        aria-disabled="true">Previous</a>
                </li>

                {%endif%}

                {%for page in page_obj.paginator.page_range %}
                {% if page_obj.number == page %}
                <li class="page-item active"><a class="page-link" href="?page={{page}}">{{page}}</a></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="?page={{page}}">{{page}}</a></li>
                {%endif%}
                {%endfor%}

                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
                </li>
                {%else%}
                <li class="page-item disabled">
                    <a class="page-link" href="#">Next</a>
                </li>
                <li class="page-item disabled">
                    <a class="page-link" href="#">Last &raquo;</a>
                </li>
                {% endif %}

            </ul>
        </nav>
    </div>
</div>
{% endblock %}